*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif
}
.hero{
    width:100%;
    height: 100%;
    background: linear-gradient(180deg,#c6974e,#000000);
    position: relative;
    z-index:0;
}
#calendar{
    width: 80%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

}
body{
    background-color: #000000;
    z-index:0;
}
#bottomtext{
    text-align:center;
    color: white;
}
a:link {
    color: rgb(252, 252, 252);
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 255, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: #c6974e;
  }
  
  /* selected link */
  a:active {
    color: rgb(197, 197, 197);
  }