
*{
    margin : 0;
    padding: 0;
    box-sizing:border-box;
}
body,
html{
    height: 100vh;
    display: grid;
    font-family:"staatliches";
    background: wheat;
    color: black;
    font-size: 9px;
    letter-spacing:0.1em;
}
.ticket{
    height:300px;
   
    margin: auto;
    display: flex;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
                rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.left{
    display: flex;
}
.image{
    height:300px;
    width:200px;
    background-image:url("https://images.unsplash.com/photo-1564399580075-5dfe19c205f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YXJ0JTIwZ2FsbGVyeXxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-size: contain;
    opacity:0.85;
}
.event1{
    position:absolute;
    color: darkgray;
    height:250px;
    padding:0 10px;
    letter-spacing: 0.15em;
    text-align: center;
    justify-content: space-around;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    


}
.event1 span:nth-child(2){
    color:white;
    font-weight: 700;
}
.left .ticket-number{
  height: 250px;
  width: 250px;
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px;

}
.ticket-info{
    margin:-45px;
    padding:10px 30px;
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content: space-between;
    align-items:center;
}
.date{
    border-top: 1px solid gray;
    padding: 5px 0;
    font-weight:700;
    display: flex;
    align-items:center;
    justify-content: space-around;

}
.date span{
    width:100px;
}
.date span:first-child{
    text-align:left;
}
.date span:last-child{
    text-align: right;

}
.date .month{
    color:wheat;
    font-size:20px;

}
.show-name{
    font-size: 32px;
    
}
.show-name h1{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #4a437e;
    text-align: left;
}
.time{
    padding:10px 0;
    color: #4a437e;
    text-align:center;
    display:flex;
    flex-direction:column;
    gap:10px;
    font-weight:700;

}
.time span{
    font-weight:400;
    color:grey;
}
.left .time{
    
    font-size:16px;
}
.location{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    padding-top:8px;
    border-top:1px solid grey;

}
.right{
    width:200px;
    border-left:1px dashed black;
    

}
.right .admit-one{
    color:darkgrey;
}
.right .right-info-container{
    height:250px;
    padding: 10px 10px 10px 50px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;

}
.right .show-name h1{
    font-size: 18px;

}
.barcode{
    height: 100px;
}
.barcode img{
    height:100%;
}
.right .ticket-number{
    color:grey;
}
.print{
 text-align:center;
}