#MainBody{
    overflow-x: hidden;
    font-style: normal;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    background-color: #000;
}

.header{
    width: 100%;    background: #000;
    color:#f1f1f1;
    height:40%;
  

  }

  /* The side navigation menu */
.header .member{
    margin: auto;
    text-align: right;
    display: block;
    height:5%;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    position: relative;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/* Header/logo Title */
video{
    width:100%;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
    width: 100%;
  }
.wrapper {
    display: block;
}
.open{
    display:right;
}
#main{
    background-color: black;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
   
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
width:fit-content;
  position: relative;
  margin: auto;
  overflow-x: hidden;
}

/* Hide the images by default */


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.button1{
    background-color:rgb(152, 134, 30);
    color: whitesmoke;
    border-color: #f1f1f1;
    border-radius: 15px;
    text-align: right ;
    display: inline-block;
    float: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
  color:#f2f2f2;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 10s;
  animation-play-state: paused;
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    overflow-y: auto;
}
.footer .T{
    text-align: right;
}
body .map{
    color: white;
    margin: auto;
    display: inline;
}
#address{
    float:right;
    margin-right:1000px;
    text-align: left;
    font-family: 'Open Sans';
    font-weight: lighter;
}